*
{
    color: yellow;
    background: black;
    
}
h1
{
    color:aqua;
}
.hi{
    color: aqua;
}
#main
{
    color: aquamarine;
}
h1
{
    text-align: center;
}
*
{
    font-size: large;
}
*
{
    font-style: italic;
}
